/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 // Override gutter and columns


 @mixin fontFace($family,$src,$style: normal,$weight: normal) {
    @font-face {
        
        font-family: $family;
        //src: url('#{$src}.eot'); // IE9 compat
        //src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
        src: url('#{$src}.woff') format('woff'), // standards
            url('#{$src}.ttf') format('truetype'); // Safari, Android, iOS
            //url('#{$src}.svg##{$family}') format('svg'); // legacy iOS

        font-style: $style;
        font-weight: $weight;
    }
}

.brand-logo {
  width: 25%;
  transition: 0.2s all linear;
  &.change-size {
    width: 18%;

  }
}

//@import 'fontFace';
@include fontFace('TradeGothicLTCom-Light','dist/fonts/tradegothic/TradeGothicLTCom-Light');
@include fontFace('TradeGothicLTCom-Bold','dist/fonts/tradegothic/TradeGothicLTCom-Bold');
@include fontFace('TradeGothicLTCom-Italic-Bold','dist/fonts/tradegothic/TradeGothicLTCom-BdCn20Obl');
@include fontFace('TradeGothicLTCom-Italic','dist/fonts/tradegothic/TradeGothicLTCom-Cn18Obl');


html{
    font-family: TradeGothicLTCom-Light, Calibri, Trebuchet, sans-serif;
    @media only screen and (min-width: $large-screen) {
    font-size: 16px;
    }
}


h1, h2, h3, h4, h5, h6 {
    font-family: TradeGothicLTCom-Bold;
}

  //Variables 

$white:   rgba(255,255,255,1);
$black:   rgba(0,0,0,1);

blockquote {
    text-align: center;
    border: none;
    margin: 1.5em 10px;
    padding: 0.5em 30px;
    font-size: 1.7em;
    line-height: 1.8em;
    font-weight: bold;
    &:before, &:after {
       font-family: 'Font Awesome';
        content: open-quote;
       font-size: 4em;
       line-height: 0;
      vertical-align: -0.4em;
       margin-right: 0.1em;
     }
     &:after {
         content: close-quote;
         margin-left: 0.1em;
    }
    p {
        display: inline;
    }
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 100vh;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,1);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

footer.page-footer {
  margin: 0;
}

.card .card-title {
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  font-size: 16px;
  text-transform: uppercase;
}


.card {
  box-shadow: none;
}

.card img:hover {
    opacity: 0.7;
}

button + label{
    margin-left: 1em;
}

.flex-grid {
    position: relative;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 8% 2% 8% 2%;
}

@media #{$small-and-down} {
    .flex-grid {
        padding: 1em;
    }
}
//border-bottom: 2px solid grey;
.flex-item {
    flex-basis: calc(100%/3);
    padding: 2% 4%;
    &:nth-child(2) {
        border-right: 2px solid lighten($black, 90);
        border-left: 2px solid lighten($black, 90);
    }
    &:nth-child(5) {
        border-top: 2px solid lighten($black, 90);
        border-right: 2px solid lighten($black, 90);
        border-left: 2px solid lighten($black, 90);
    }
    &:nth-child(4) {
        border-top: 2px solid lighten($black, 90);
    }
    &:nth-child(6) {
        border-top: 2px solid lighten($black, 90);
    }

}

@media #{$small-and-down} {
    .flex-item {
        flex-basis: 100%;
        padding: 0% 0%;
    }
}


.overlay {
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        background-color: rgba(0,0,0,.4);
        z-index: 0;
    }
}

// Service FORM
footer form {
   .input-field label {
      color: darken($white, 10);
    }
  input[type=email] {
    border-bottom: 1px solid $white;
    color: $white;
  }

   /* label focus color */
   .input-field input[type=email]:focus + label {
      color: $white;
      border-bottom: 1px solid $white;
     
   }
   .input-field input[type=email]:focus {
      border-bottom: 1px solid $white;
      box-shadow: none;
   }
   .input-field input[type=email].valid {
      border-bottom: 1px solid lighten($black, 70);
      box-shadow: none;
    }

}

.service {
    a {
        color: white;
        border-bottom: 1px solid white;
        &:hover {
            border-bottom: none;
        }
    }
    .cover {
        background-size:cover;
        background-position: center;
    }
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .panel {
        text-align: left;
        height: 60vh;
        width: 100%;
    }
    .sub-panel {
        display: table;
        &:nth-child(odd) {
            direction: rtl;
        }
    }
    .table-cell {
        @media #{$small-and-down} {
        display: table;
        width: 100%;
        padding: 2em;
        direction: ltr;
        }
            display: table-cell;
            width: 50%;
            vertical-align: middle;
            padding: 5em 2em 5em 2em;
            direction: ltr;
    }
    ul {
        margin-left: 20px;
    }
    li {
        margin: .5em 0;
        padding-left: 24px;
    }
    li:before {
        content: '\f00c';
        font-family: FontAwesome;
        color: $white;
        margin-left: -24px;
        padding-right: 10px;
    }
}

.large-font p {
    font-size: 1.2em;
    &:first-child {
        font-size: 1.6em;
        font-weight: bold;
    }

}