/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 // Override gutter and columns

html{
    @media only screen and (min-width: $large-screen) {
    font-size: 16px;
    }
}

.nav-wrapper ul li {
  display: inline;
  padding: .5em;

}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,1);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

footer.page-footer {
  margin: 0;
}

.card .card-title {
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  font-size: 16px;
  text-transform: uppercase;
}


.card {
  box-shadow: none;
}

.card img:hover {
    opacity: 0.7;
}

button + label{
    margin-left: 1em;
}

.mixitup{
  padding: 0% 2% 0;
  text-align: justify;
  -webkit-backface-visibility: hidden;
}

.mixitup:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.mixitup .mix,
.mixitup .gap{
  display: inline-block;
  width: 49%;
}

.mixitup .mix{
  text-align: left;
}

@media all and (max-width: 528px){
  .mixitup .mix,
  .mixitup .gap{
    width: 100%;
  }
}

@media all and (min-width: 930px){
  .mixitup .mix,
  .mixitup .gap{
    width: 32%;
  }
}

@media all and (min-width: 1264px){
  .mixitup .mix,
  .mixitup .gap{
    width: 32%;
  }
}

.overlay {
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        background-color: rgba(0,0,0,.4);
        z-index: 0;
    }
}